name: Build and Publish

on:
  workflow_dispatch:
  # run it on push to the default repository branch
  # push:
  #   branches: [main]
  # # run it during pull request
  # pull_request:
  schedule:
    - cron:  '14 3 1 * *'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set image name
      run: |
        echo "IMAGE_NAME=docker.io/wollomatic/torrelay" >> $GITHUB_ENV
        echo "VERSION=0.4.8" >> $GITHUB_ENV
        echo "BUILD=21" >> $GITHUB_ENV
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Build the Docker image
      run: |
        docker buildx build . --file build/Dockerfile --load --pull --tag ${{ env.IMAGE_NAME }}:${{ env.VERSION }}.${{ env.BUILD }} --tag ${{ env.IMAGE_NAME }}:${{ env.VERSION }} --tag ${{ env.IMAGE_NAME }}
#    - name: Run Trivy vulnerability scanner
#      uses: aquasecurity/trivy-action@master
#      with:
#        image-ref: '${{ env.IMAGE_NAME }}:${{ env.VERSION }}.${{ env.BUILD }}'
#        format: 'table'
#        exit-code: '1'
#        ignore-unfixed: true
#        vuln-type: 'os,library'
#        severity: 'CRITICAL,HIGH'
    - name: Build torrelay for all platforms and push to Docker hub
      run: |
        echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin docker.io
        docker buildx build . --file build/Dockerfile --push --platform=linux/amd64,linux/arm64 --tag ${{ env.IMAGE_NAME }}:${{ env.VERSION }}.${{ env.BUILD }} --tag ${{ env.IMAGE_NAME }}:${{ env.VERSION }} --tag ${{ env.IMAGE_NAME }}
